@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Nunito&display=swap');

*{
	margin: 0px;
	padding: 0px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Nunito', sans-serif;
}

body{
    margin: auto;
}

h1{
    text-align: center;
    color: rgb(0, 128, 0);
}

/*header*/
header{
    width: 100%;
    height: fixed;
    top: 0;
    left: 0;
    background: white;
}
.header_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo img{
    width: 300px;
}

.container_menu{
    width: 100%;
    height: 40px;
    background: rgb(97, 97, 97);
    padding: 0px 20px; /* para poder hacerlo responsive*/
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
height: 100%;
}
nav>ul{
    height: 100%;
    display: flex;
}
nav>ul>li{
    height: 100%;
    list-style: none;
    position: relative;
    padding-right: 100px;
   
}

nav>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;

}   

nav>ul>li>a::after{
content: '';
position: absolute;
width: 80px;
height: 4px;
right: 0;
bottom: 0;
left: 0;
background: rgb(4, 187, 34)  ;
transform-origin: right;
transform: scaleX(0);
transition:  transform 0.5s ease-in-out;
}
nav>ul>li>a:hover::after{
transform-origin: left;
transform: scaleX(1);
}

/*SUBMENU*/

    nav ul li ul{
        width: 200px;
        display: flex;
        flex-direction: column;
        background:white;
        color: black;
        position: absolute;
        top: 90px;
        left: -5px;
        padding: 14px 0px;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
        z-index: 10;
        transition: all 500ms ease;
        list-style: none;

    }
    nav ul li:hover ul {
        visibility: visible;
        color: black;
        opacity: 1;
        top: 70px;
    }

    nav ul li ul::before{
        content: '';
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid white;
        position: absolute;
        top: -12px;
       left: 20px; 
    }

    nav ul li ul a {
        display: block;
        color: rgb(2, 27, 10);
        padding: 6px;
        padding-left: 14px; 
        text-decoration: none;
        margin-top: 10px;
        font-size: 14px;
        text-transform: uppercase;
        transition: all 300ms ease; 
        list-style: none;
    }

    nav ul li ul a:hover{
        background: #98a4db;
        color: black;
        transform: scale(1.1);
        text-decoration: none;
        padding-left: 30px;
        font-size: 14px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
    }

    *{
        margin: 0px;
        padding: 0px;
     
    }
        /*ESTILOS DE REGITRO PRODUCTOS*/
    .formulario-agregar-productos{
        width: 90%;
        margin: 50px;
      
    }
    .tabla_registro{
            border-spacing: 20px;
            background: rgb(247, 244, 244) ;
            border-top-right-radius: 4em;
            border-bottom-left-radius: 4em;
    
    }
    #tabla_registro,h2{
        color: rgb(26, 173, 6);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    #tabla_registro,p{
        color: rgb(72, 75, 72);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    .form__registro{
        background: white;
        color: rgb(62, 65, 63);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-style: none;
    
    }
    
    .file-select {
        background: rgb(76, 78, 76);
        color: rgb(238, 238, 238);
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: .3em 2.5em;
        margin: 1em;
        border-style: none;
        border-radius: 1em; 
        font-size: 14px;
      }
      #file-select,label:hover{
        background: rgb(4, 92, 2);
        transform: scaleX(1);
        color: rgb(255, 255, 255);
        }
    
    
    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
      }
    #btn_productos,button{
        background: rgb(23, 150, 7);
        color: rgb(238, 238, 238);
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100px;
        height: 30px;
        margin: 1em;
        border-style: none;
        border-radius: 1em;
        font-size: 14px;
    }
    
    #btn_productos,button:hover{
        background: rgb(2, 68, 1);
        transform: scaleX(1);
        color: rgb(255, 255, 255);
        }
        /*ESTILOS DE TABLA PRODUCTOS*/
        
        
        .tabla-productos{
            border-spacing: 30px;
            width: 80%;
            margin: 40px;
        }
        .contenido_productos{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
        }
    
        
    
        #contenido_productos,thead{
            background: rgb(240, 240, 240);
            color: rgb(109, 109, 109);
            font-family: 'Times New Roman', Times, serif;
            font-style:oblique;    
               
        }

        .contenido{
            width: 100%;
            height: 700px;
            background:red;
        }
